/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}


body {
  background: url('data:image/gif;base64,R0lGODlhBQAFAIAAAB4eHjk5OSH5BAAAAAAALAAAAAAFAAUAAAIHjAOXtqgXCgA7');
  font-family: Arial, Helvetica, clean, sans-serif;
  font-size: 10pt;
  text-align: center;
  color:#b8babb;
/*
  margin: 0;
  padding: 0;
*/
}



h1,h2,h3,h4,h5,h6 {
  margin-top: 1em;
  margin-bottom: 1em;
}


p {
  margin: 1em 0;
}

blockquote {
  margin-left:  2em;
  margin-right: 2em;
}



a, a:visited {
	color: #778eaa;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #81c8d5;
	text-decoration: underline;
}
a img {
	border:none;
}


table {
  font-size: inherit;
  font: 100%;
}


.nobr {
	white-space: nowrap;
}


@font-face {
	font-family: "DIN Pro Light";
	src: local('☺'), url("/fonts/dinpro-light-webfont.otf") format('opentype');
}
@font-face {
	font-family: "DIN Pro Medium";
	src: local('☺'), url("/fonts/dinpro-medium-webfont.otf") format('opentype');
}



/**********************/
/* Homepage/frontpage */
/**********************/


ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}





/*****************************************************************************/
/*
/* Site (big bounding box for the whole page content)
/*
/*****************************************************************************/

/* padding: top right bottom left */

.site {
  width: 70em;
  background: #222222;
  margin: 2em auto 2em auto;
  text-align: justify;
}


.site .title {
  background: black;
  padding-left: 45px;
  padding-right: 45px;
}

  .site .title h1 {
    margin: auto;
    padding-top: 1.5em;
    padding-left: 0px;
    font-family: "DIN Pro Light", Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: normal;
  }

  .site .title a, .site .title a:visited {
    color: #cccccc;
    text-decoration: none;
  }
  .site .title a:hover {
    color: #81c8d5;
    text-decoration: none;
  }

  .site .title .subtitle {
    padding-top: 0.5em;
    padding-bottom: 2em;
    padding-left: 2px;
  }



.site .linkbar {
  background: #dddddd;
  padding-left: 45px;
  padding-right: 45px;
}

  .site .linkbar .linkbar-link {
    margin: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    font-family: "DIN Pro Light", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
  }


.site .footer {
    clear: both;
    color: #555555;
    font-size: 87.5%;
    border-top: 3px solid #eee;
    margin-top: 2em;
    padding-left:  1.5em;
    padding-right: 1.5em;
    overflow: hidden;
}

  .site .footer .contact {
    float: left;
    margin-right: 3em;
  }

    .site .footer .contact a {
      color: #8085C1;
    }

  .site .footer .links {
    margin-top: 1.1em;
    float: right;
  }
  .site #contact-details .links a.sns-icon {
    text-decoration: none;
  }
  .site #contact-details .links a.sns-icon img {
    border: 0;
    width: 16px;
    height: 16px;
  }



.content-full-width {
  /*border: 1px solid black;*/
  margin-top: 2em;
  margin-left: 2.5em;
  margin-bottom: 3em;
  width: 60em;
  float: left;
  display: inline;
  line-height: 1.4em;
}

.content-full-width p, .content-full-width li {
  line-height: 1.4em;
}




.content {
  /*border: 1px solid black;*/
  margin-top: 2em;
  margin-left: 2.5em;
  margin-bottom: 3em;
  width: 38em;
  float: left;
  display: inline;
}

.content p, .content li {
  line-height: 1.4em;
}

.content pre {
  line-height: 1.4em;
  border: 1px dotted black;
  background-color: #181820;
  padding: 0 .4em;
  overflow: auto;
}

.content code {
  background-color: #181820;
  font-size: 85%;
  padding: 0 .1em;
}




.sidebar {
  /*border: 1px solid red;*/
  margin-top: 2em;
  margin-right: 2.5em;
  margin-bottom: 3em;
  width: 21em;
  float: right;
  display: inline;
  text-align: left;
}

.sidebar .widget .blurb {
	padding-left: 1em;
}


ul, ol {
  margin-left: 1em;
  padding-left: 2em;
}



/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  line-height: 2.4em;

}

  /* standard */

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post li {
    margin-top:    0.5em;
    margin-bottom: 0.5em;
  }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

  #post p.inline-embed img {
    max-width: 100%;
    display: block;
    margin-left:  auto;
    margin-right: auto;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
