<div class="linkbar">
    <ul>
        <li class="linkbar-link">        <a href="/about.html">About</a>                  </li>
        <li class="linkbar-link">        <a href="/history.html">Post archive</a>         </li>
        <li class="linkbar-link-small">  <a href="/tag/cosplay.html">Cosplay</a>          </li>
        <li class="linkbar-link-small">  <a href="/tag/photography.html">Photography</a>  </li>
        <li class="linkbar-link-small">  <a href="/tag/tech.html">Tech</a>                </li>
        <li class="linkbar-link-small">  <a href="/tag/travel.html">Travel</a>            </li>
    </ul>
</div>
